<div class="jumbotron">
  <h1 class="display-3">CodePlay</h1>
  <p class="lead"><%= t('messages.welcome') %></p>
  <hr class="my-4">
  <%= link_to t('home.courses'), courses_path, class: 'btn btn-outline-dark btn-lg' %>
  <%= link_to t('home.instructors'), instructors_path, class: 'btn btn-outline-dark btn-lg' %>
</div>

