<% if @instructors.empty? %>
  <%= t('messages.no_instructor') %>
<% end %>


<% @instructors.each do |instructor| %>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= link_to instructor.name, instructor %></div>
  </div>
<% end %>

<%= link_to t('links.back'), root_path %>
<%= link_to t('links.register_new_instructor'), new_instructor_path %>